
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

.body-backgroound {
  width: 100%;
  background: url("/images/background.jpg") no-repeat;
  background-size: cover;
}
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.flash {
  position: fixed;
  top: 1rem;
  right: 1rem;
  opacity: 0;
  transition: opacity ease 1s;
}

.is-visible {
  opacity: 1;
}

.pointer {
  cursor: pointer;
}

.fa-icon:hover {
  filter: brightness(50%);
  transition: all .5s ease;
}

.employees-list {
  top: -.5em;
  z-index: 1000;
}