.a-sidebar
    position: fixed
    top: $headerHeight
    left: 0
    bottom: 0
    width: $sidebarWidth
    background-color: $colorDark
    box-shadow: .2rem 1rem .5rem 0 rgba(0, 0, 0, .75)
    z-index: 20

    &__list
        padding: 1rem 1rem 1rem 3rem

    &__item
        color: $colorLight
        line-height: 3rem
        text-transform: uppercase
